.container {
  padding: 24px 0 !important;
}

.top {
  margin-top: 80px;
}

@media (max-width: 1023px) {
  .container {
    padding: 24px !important;
  }

  .subContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 640px) {
  .subContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
