.title {
  font-size: 70px;
  text-shadow: 2px 4px 4px #808080;
}

.description {
  max-width: 80%;
}

@media (max-width: 1023px) {
  .title {
    font-size: 50px;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 30px;
  }

  .description {
    max-width: 100%;
  }
}
