@media (max-width: 1023px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
